<div class="mt-4">
  <i class="fa-regular fa-user"></i>
  <i class="fa-solid fa-bars" *ngIf="menuClosed" (click)="openMenu()"></i>
  <i class="fa-solid fa-x" *ngIf="!menuClosed" (click)="openMenu()"></i>
</div>
<div *ngIf="!menuClosed">
  <ul>
    <li routerLink="/" routerLinkActive="active-link">find</li>
    <li routerLink="/chat" routerLinkActive="active-link">chat</li>
    <li routerLink="/pay" routerLinkActive="active-link">pay</li>
    <li routerLink="/account" routerLinkActive="active-link">account</li>
  </ul>
</div>
<router-outlet></router-outlet>